node_modules
.DS_Store
dist
dist-ssr
storybook-static
coverage
*.local
.env
.env.*
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
.vscode/
.idea/
.cursor/
.cursorrules
.windsurfrules
.zed/
